@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

body {
	font-family: "Roboto Condensed", sans-serif;
	margin: 0;
	padding: 0;
}
.header-top {
	background-color: #5C191B;
	display: flex;
	justify-content: space-between; //positions logo left and banner right
	align-items: center; //sets vertical align of logo and banner to the middle
	padding: 1.2em 1.2em 1.2em 2.5%;
	margin: 0;
}
.header-navbar {
	nav {
		background-color: #1A1A1A;
		display: flex;
		align-items: center;
		ul {
			list-style: none;
			padding: 0;
			margin: 0 0 0 2.5%;
			li {
				display: inline-block;
				height: 100%;
				a {
					text-decoration: none;
					color: #FFF;
					font-size: 1.4em;
					padding: 0.1em 0.2em;
					font-weight: bold;
					display: flex;
				}
			}
		}
	}
}
.content {
	width: 95%;
	max-width: 1920px;
	display: flex;
	flex-wrap: wrap;
	margin: 2em auto 0 auto;
	box-sizing: border-box;
}
#upper-section {
	width: 100%;
	h3 {
		margin: 0;
		box-sizing: border-box; //makes sure that padding and border is included in the h3's width
		padding: 0 0 0 0.3em;
		background-color: #DDD;
	}
}
.posts {
	//width: 85%; //width refers to the parent div; reserves the place for right side banner
}
.wrapper-lvl-1 {
	display: flex;
}
#banner-2 {
	img {
		height: 23em; //2 * min-height of .posts + 2 * margin of .post + 1.4 em (may be the line height)
		margin: 0.8em 0 0 0.8em;
	}
}
#mobile-banner {
	display: none;
	vertical-align: middle;
	background-color: #009BA9;
}
#banner-4 {
	img {
		height: 31.6em; //2 * min-height of .posts + 2 * margin of .post + 1.4 em (may be the line height)
		margin: 0.8em 0 0 0.8em;
	}
}
#popular {
	//width: 85%;
	h3 {
		margin: 0;
		box-sizing: border-box; //makes sure that padding and border is included in the h3's width
		padding: 0 0 0 0.3em;
		background-color: #DDD;
		//width: 100%;
	}
}
.posts {
	display: flex;
	.post-thumbnail {
		margin: 0.8em;
		flex: 1; //makes sure that all divs have the same width
		position: relative;
		background-color: black;
		width: 100%;
		img {
			width: 100%;
			max-width: 100%;
			display: flex; //fixes the gap between img and div -> can you tell me why?
		}
		p {
			position: absolute;
			bottom: 0;
			width: 100%;
			box-sizing: border-box;
			background-color: black;
			margin: 0;
			padding: 0.8em 0.3em;
			color: white;
			display: flex;
		}
	}
	.post-thumbnail:first-child {
		margin-left: 0;
	}
	.post-thumbnail:last-child {
		margin-right: 0;
	}
}
.posts-3-col {
	.post-thumbnail {
		min-height: 10em;
	}
}
.posts-2-col {
	.post-thumbnail {
		min-height: 15em;
	}
}
#banner-3 {
	margin: auto;
	display: flex; //don't know why there is white space under the picture if i don't use display flex
}
footer {
	background-color: black;
	color: white;
	padding: 1em;
	margin-top: 4em;
	p {
		text-align: center;
	}
}
.footer-navbar {
	display: block;
	width: 100%;
	nav {
		background-color: #1A1A1A;
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			li {
				display: inline-block;
				height: 100%;
				a {
					text-decoration: none;
					color: #FFF;
					display: flex;
				}
			}
		}
	}
}
#footer-logo {
	display: block;
	margin: 1.5em 0 1.5em auto;
}
//media query for mobile phone
@media only screen and (max-width: 480px) {
	#mobile-banner {
		display: inline-block;
		vertical-align: top;
	}
	#banner-2, #banner-3, #banner-4 {
		display: none;
	}
	#header-banner {
		display: none;
	}
	.header-navbar {
		nav {
			justify-content: center;
		}
	}
	.posts {
		display: block;
		padding: 0;
		.post-thumbnail {
			display: inline-block;
			border: 1px solid black;
			box-sizing: border-box;
			//float: left;
			width: calc(49% - 0.8em);
		}
		.post-thumbnail:nth-child(odd):not(:first-child) {
			margin: 0 0.8em 0.8em 0;
		}
		.post-thumbnail:nth-child(even) {
			margin-right: 0;
		}
	}
	.footer-navbar {
		display: flex;
		justify-content: center;
	}
	#footer-logo {
		display: block;
		margin: 1.5em auto 1.5em auto;
	}
	#lower-section {
		.post-thumbnail {
			margin-top: 0;
		}
	}
}

//media query for tablet
@media only screen and (max-width: 768px) {
	#header-banner {
		width: 50%;
	}
}